@inherits LayoutComponentBase
@using Stock_Management.Data;
@using Stock_Management.Services;
@inject NavigationManager NavManager

<div class="page">
    @if (globalUser.CurrentUser != null)
    {
            <div class="sidebar">
                <NavMenu username="@globalUser.CurrentUser.UserName" userType="@globalUser.CurrentUser.UType" HandleLogout="HandleLogout" />
            </div>
    }

    <main>
        <article class="content">
            <CascadingValue Value="@globalUser">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private UserCurrent globalUser = new();

    protected override void OnInitialized()
    {
        ServiceUser.SeedUserData();
    }

    private void HandleLogout()
    {
        globalUser.CurrentUser = null;
        NavManager.NavigateTo("/login");
    }
}
