@page "/login"
@inject NavigationManager NavManager
@using System.Data;
@using Stock_Management.Data;
@using Stock_Management.Services;

<main>
    <div class="box">
        <div class="login-wrapper">
            <img src="./image/main_logo.png" alt="No Image">
            @if (showCredentialHint)
            {
                <section>
                    <h3>Login Details:</h3>
                    <p>(Note: Change the password after login)</p>
                    <p>Username : admin</p>
                    <p>Password : test123</p>
                </section>
            }
            <h1>Log In</h1>
            <form @onsubmit="handleLogin" class="login-form">
                @if (message.Length > 0)
                {
                    <p>
                        <span class="oi oi-warning"></span>
                        @message
                    </p>

                }

                <input type="text" @bind="@userName" placeholder="Username" />

                <input type="@passType" @bind="@password" placeholder="Password" />

                <label for="show-password">
                    <input type="checkbox" id="show-password" @onchange="handlePassword" />
                    Show Password
                </label>


                <button>
                    <span class="@loginStatus"></span> Login
                </button>
            </form>
        </div>
    </div>
</main>

@code {
    [CascadingParameter]
    private UserCurrent globalUser { get; set; }
    private bool displayDefaultCredential { get; set; }
    private string userName { get; set; }
    private string password { get; set; }
    private bool showCredentialHint { get; set; }
    public string message = "";
    public string passType = "password";
    public string loginStatus = "oi oi-account-login";

    protected override void OnInitialized()
    {
        try
        {
            var user = ServiceUser.Login(ServiceUser.DefaultUserName, ServiceUser.DefaultPassword);
            showCredentialHint = user.HasInitialPassword;
        }
        catch { }

        globalUser.CurrentUser = null;
        message = "";
    }

    public void handlePassword()
    {
        passType = passType == "password" ? "text" : "password";
    }

    public void handleLogin()
    {
        loginStatus = "spinner-border spinner-border-sm";

        if (userName == null || password == null)
        {
            message = "Provide complete login details.";
            loginStatus = "oi oi-account-login";
            return;
        }

        try
        {
            globalUser.CurrentUser = ServiceUser.Login(userName, password);

            if (globalUser.CurrentUser != null)
            {
                NavManager.NavigateTo(globalUser.CurrentUser.HasInitialPassword ? "/update" : "/item");
            }
        }
        catch (Exception e)
        {
            message = e.Message;
        }

        loginStatus = "oi oi-account-login";
    }
}
